*, *::before, *::after {
	margin: 0;
	padding: 0;
}

html {
	font-family: var(--font-sans);
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	background-color: var(--color-background);
	color: var(--color-foreground);
}

@media (prefers-reduced-motion: no-preference) {
	body {
		transition: all 0.3s ease;
	}
}

