main {
	display: grid;
	grid-auto-rows: min-content;
	grid-auto-flow: row;
	grid-row-gap: 1rem;
	
	.todo-head, .todo-body, .todo-foot {
		background-color: var(--color-white);
		border-radius: 5px;
		box-shadow: var(--shadow-xl);
	}
	
	.todo-head {
		padding-block: calc(var(--spacing) * 3.5);
		padding-inline: calc(var(--spacing) * 5);
	}
	
	.todo-body {
		:where(& > :not(:last-child)) {
			border-color: var(--color-divider);
			border-style: solid;
			border-top-width: calc(1px * 0);
			border-bottom-width: calc(1px * calc(1 - 0));
		}
	}
	
	.todo-foot {
		display: flex;
		justify-content: center;
		padding-block: calc(var(--spacing) * 3.5);
		
		@media (width >= 588px) {
			display: none;
		}
	}
}